<title>{{title}}</title>

<div class="wrapper" style="position: relative; margin: 0; width: 100%; height: 100%;">
    <div class="full-length column" style="height: 100%;">
        <div style="width: 300px; position: fixed; z-index: 99; height: 100%;">
            <ng-sidebar-container>
                <ng-sidebar [opened]="opened">
                    <mat-expansion-panel disabled class="spc-tb">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b class="size-std dark-color">Destination</b>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-accordion class="spc-tb">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b class="size-std dark-color">Employee</b>
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul class="size-std nopad">
                                <li><a href="">List</a></li>
                                <li><a href="">Create</a></li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-sidebar>
            </ng-sidebar-container>
        </div>
        <div class="cols-12 column" style="min-height: 100%;">
            <div ng-sidebar-content class="head gradientr" style="min-height: 50px; padding: 0 20px;">
                <div class="box-arrow" (click)="toggleSidebar()" [ngStyle]="{'marginLeft': getMargin()}">
                    {{ opened === true ? '&lt;' : ">" }}
                </div>
                <div class="top-icon-menu desk delay">
                    <ul class="nopad" style="overflow: hidden;">
                        <li class="size-std option-click notifpopup" style="position: relative;">
                            <img src="assets/images/bell.png" style="display: inline-block; height: 25px;">
                        </li>
                        <li class="size-std option-click" ><img src="assets/images/profile.png" style="display: inline-block; height: 25px;">&nbsp;&nbsp;John Doe</li>
                    </ul>
                </div>
            </div>
            <div class="content cols-12" style="height: 100px;"></div>
            <div class="content cols-3" style="height: 10px;"></div>
            <div class="content cols-6 column containt">
                <form class="control">
                    <div class="full-length" id="contentDetail" style="overflow-x: auto; padding-bottom: 40px;">
                        <div class="headtitle trans">
                            <p class="size-head4 nopad">Employee</p>
                            <p class="size-cute nopad">Create Employee</p>
                        </div>
                        <table class="full-length size-std basic-tables unbordered" cellpadding="8" cellspacing="8">
                            <tr>
                                <td style="text-align: right; width: 50%;">*Username</td>
                                <td>
                                    <input type="text" name="username" class="frm-std size-std" style="border-radius: 0; width: 80%;" required="">
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">*First Name</td>
                                <td>
                                    <input type="text" name="firstname" class="frm-std size-std" style="border-radius: 0; width: 80%;" required="">
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">*Last Name</td>
                                <td>
                                    <input type="text" name="lastname" class="frm-std size-std" style="border-radius: 0; width: 80%;" required="">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <button (click)="createEmployee()">Save</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="content cols-3" style="height: 10px;"></div>
        </div>
    </div>
</div>