<title>{{title}}</title>

<div class="wrapper" style="position: relative; margin: 0; width: 100%; height: 100%;">
    <div class="full-length column" style="height: 100%;">
        <div style="width: 300px; position: fixed; z-index: 99; height: 100%;">
            <ng-sidebar-container>
                <ng-sidebar [opened]="opened">
                    <mat-expansion-panel disabled class="spc-tb">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b class="size-std dark-color">Destination</b>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-accordion class="spc-tb">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b class="size-std dark-color">Employee</b>
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul class="size-std nopad">
                                <li><a href="">List</a></li>
                                <li><a href="">Create</a></li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-sidebar>
            </ng-sidebar-container>
        </div>
        <div class="cols-12 column" style="min-height: 100%;">
            <div ng-sidebar-content class="head gradientr" style="min-height: 50px; padding: 0 20px;">
                <div class="box-arrow" (click)="toggleSidebar()" [ngStyle]="{'marginLeft': getMargin()}">
                    {{ opened === true ? '&lt;' : ">" }}
                </div>
                <div class="top-icon-menu desk delay">
                    <ul class="nopad" style="overflow: hidden;">
                        <li class="size-std option-click notifpopup" style="position: relative;">
                            <img src="assets/images/bell.png" style="display: inline-block; height: 25px;">
                        </li>
                        <li class="size-std option-click" ><img src="assets/images/profile.png" style="display: inline-block; height: 25px;">&nbsp;&nbsp;John Doe</li>
                    </ul>
                </div>
            </div>
            <div class="content full-length column">
                <div class="cols-12" style="height: 100px;"></div>
                <div class="cols-3" style="height: 10px;"></div>
                    <div class="full-length cols-6 containt" id="contentDetail" style="overflow-x: auto; padding-bottom: 40px;">
                        <div class="headtitle trans" style="margin-bottom: 0;">
                            <p class="size-head4 nopad">Control</p>
                        </div>
                        <div class="list-control containt" style="border-bottom: none;">
                            <div class="list-control-box spc-rl">
                                <span class="size-std">Show By Group</span>
                                <select name="" id="kanwil" class="size-std">
                                    <option value="all">-- Select Group --</option>
                                </select>
                            </div>
                            <div class="list-control-box spc-rl">
                                <input type="search" name="search" ng-model="search" placeholder="Search">
                            </div>
                            <div class="list-control-box size-std spc-rl">
                                <button type="submit" class="myButton-submit">Show</button>
                                <button routerLink="/create" class="myButton-submit">Create New</button>
                            </div>
                        </div>
                        <form class="control">
                            <table class="size-std full-tables">
                                <tr>
                                    <th style="text-align: left; cursor: pointer;">Username</th>
                                    <th style="text-align: left; cursor: pointer;">Full Name</th>
                                    <th style="text-align: left; cursor: pointer;">Email</th>
                                </tr>
                                <tr *ngFor="let employee of employee">
                                    <td>{{employee.username}}</td>
                                    <td>{{employee.firstName+" "+employee.lastName}}</td>
                                    <td>{{employee.email}}</td>
                                </tr>
                            </table>
                        </form>
                    </div>
                <div class="cols-3" style="height: 10px;"></div>
            </div>
        </div>
    </div>
</div>